<form>
  <!--<table width=250 height=80 border=1 align="center">-->
           
  <tr> <td align="center">Product ID </td> <td><input type=number required> </td> </tr>
  <tr> <td align="center">Product Name </td> <td><input type=text required> </td> </tr>
  <tr> <td align="center">Product Cost </td> <td><input type=number required> </td> </tr>
  <tr> <td align="center">Product Online </td> <td> Yes <input type=radio name="g">
                                            No <input type=radio name="g"></td> </tr>
  
                                            
  <tr> <td align="center">Product Category </td> <td> <select> <option>Grocery <option>Mobile
    <option>Electronics <option>Cloths </select> </td></tr>

  <tr> <td align="center">Available in Store </td> <td> <input type=checkbox name="c1">
                                            Big Bazar<input type=checkbox name="c2">
                                          Dmart<input type=checkbox name="c3">
                                        Reliance<input type=checkbox name="c4">
                                        Mega store </td></tr>
  
  

  <tr> <td> <input type="submit" value="Add Product"></td>

</form>